/* .content{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
} */
/* 
textarea{
  background-color: rgb(240, 255, 255);
} */

.pic{
    /* display: flex; */
    /* margin-left: 700px; */
    /* justify-content: center !important;
    align-items: center; */
    /* align-self: center; */
    /* height: 100px;
    width: 100px; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    /* top: 50%; */
}

/* @media screen and (min-width: 320px) {
  .pic{
    margin-left: 105px;
  }
}

@media screen and (min-width: 375px) {
  .pic{
    margin-left: 126px;
  }
}

@media screen and (min-width: 425px) {
  .pic{
    margin-left: 150px;
  }
}

@media screen and (min-width: 768px) {
  .pic{
    margin-left: 320px;
  }
}


@media screen and (min-width: 1024px) {
  .pic{
    margin-left: 647px;
  }
}

@media screen and (min-width: 1440px) {
  .pic{
    margin-left: 650px;
  }
} */


/* .App {
  text-align: center;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
