
.bodie{
  background-color: rgb(0, 0, 0);
  background-image: url(./gold.jpeg);
  margin: 0;
  height: 100vh;
  /* display: flex;
  flex-direction: row; */
    /* height: 100vh; */
    z-index: 1;
}

.contain{
    position: relative;
    /* height: auto; */
    top: 40%;
    /* width: 70%; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.pic{

  background-image: url(./gold.jpeg);
  opacity: 40%;
}

/* bg-transparent card card-4 p-4 */
.card_edit{

    width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    /* left: 220px; */
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Abril Fatface;
    font-weight: 600;
   background-image: url(./gold.jpeg);
   z-index: 2;
}

/* .expanded {
  width: 100vh;
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
} */