.bodie{
  background-color: rgb(19, 19, 19);
  /* align-items: center; */
  margin: 0;
  /* display: flex; */
  height: 50%;
}

.contain{
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: repeat(1, 100%); */
  /* align-items: center;
  justify-content: center;
  height: 100vh; */

}

.pic{
  max-height: 800px; 
  background-image: url(./ld_new1.png);
  background-size: contain;
  z-index: 1;
}

.card_edit{
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
    width: 35%;
    color: white;
    font-size: 24px;
    margin-left: 440px;
    z-index: 2;
}
  /* margin: 0 auto; Center the card horizontally */